@import './styles/typo';

@keyframes :global(fill) {
  0% {
    height: 0%
  }
  100% {
    height: 70%;
  }
}

:global {
  @import './styles/variables';
  @import './styles/classes';
  @import './styles/mixins';
  @import './styles/common';
}


