.arrow {
  display: inline-block;
  border: 5px solid #dee2e6;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
  position: relative;
  bottom: 3px;
  margin-left: 5px;
}