.table {
  width: 100%;
  border: 1px solid black;
  border-spacing: unset;
  td {
    padding: 5px;
  }
  thead {
    font-weight: 700;
    td {
      border-bottom: 1px solid black;
    }
  }
  tbody {
    tr:nth-child(2n) {
      background-color: lightgrey;
    }
  }
}

.thead {
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  &:hover, &.active {
    color: cornflowerblue;
  }
}

.arrow {
  display: inline-block;
  border: 5px solid grey;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
  position: relative;
  bottom: 3px;
  margin-left: 5px;
}